@use '../variables' as variables;

@media screen and (max-width: 1024px) {
    .header {
        padding-top: 12px;
        padding-bottom: 20px;

        &__logo {
            img {
                height: 44px;
            }
        }

        &__mobile-container {
            flex-direction: column;
            align-items: flex-start;
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
            background: variables.$primary-color;
            padding: 81px 16px 50px;
            display: none;

            .btn {
                @include variables.btn-secondary;
                max-width: 320px;
                width: 100%;
                margin: auto auto 0;

                &:hover {
                    background-color: transparent;
                    border-color: variables.$brand-light-color;
                }
            }
        }

        &__nav {
            overflow: auto;
        }

        &__nav-list {
            flex-direction: column;
        }

        &__nav-link {
            font-size: 14px;
            font-weight: 400;
            color: variables.$brand-light-color;
            display: flex;
            align-items: center;

            svg {
                display: inline-block;
                width: 6px;
                height: 10px;
                margin-right: 10px;
                transition: 0.3s;
            }
        }
    }

    .container {
        padding: 0 16px;
    }

    .first-screen {
        height: auto;
        min-height: 611px;
        padding-bottom: 50px;
    }

    .first-screen-form,
    .offers-images {
        display: none;
    }

    .modal__first-screen-form {
        display: flex;
        flex-direction: column;
        background-color: variables.$primary-color;
        border: 1px solid #fff;
    }

    .first-screen__title {
        font-size: 28px;
        margin-bottom: 32px;
        letter-spacing: 0;
    }

    .btn.btn_lg {
        padding: 17px 34px;
    }

    .about {
        padding: 50px 0;

        &__container {
            gap: 40px;
            flex-direction: column-reverse;
        }

        &__media {
            max-width: 100%;
        }

        &__media {
            justify-content: center;

            &-item {
                width: 358px;
                height: 416px;
            }

            &-img {
                border-radius: 24px;
                width: 100%;
            }
        }



        .btn {
            padding: 13px 24px;
        }
    }


    .about__media-item {
        &:first-child {
            display: none;
        }

        &:last-child {
            margin: 0;
        }
    }

    .template-content {
        max-width: 100%;
    }

    .template-content {
        padding-top: 0;
        display: flex;
        flex-direction: column;

        .btn {
            margin: 0 auto;
        }
    }

    .template-top-title {
        font-size: 16px;
        line-height: 1.25;
        margin-bottom: 8px;
    }

    .template-title {
        font-size: 24px;
        margin-bottom: 24px;
    }

    .template-description {
        font-size: 16px;
        margin-bottom: 24px;
    }

    .offers {
        padding: 50px 0;
    }

    .offers__template-description {
        margin-bottom: 32px;
    }

    .offers-advantages {
        display: grid;
        gap: 32px;
        margin-bottom: 32px;
    }
}