@use "../variables.scss" as variables;

@media screen and (max-width: 1024px) {
	.header {
        padding-top: 12px;
        padding-bottom: 20px;

		&__logo {
			img {
				height: 44px;
			}
		}
        
		&__mobile-container {
			flex-direction: column;
			position: absolute;
			align-items: flex-start;
			top: 0;
			right: 0;
			width: 100%;
			height: 100%;
			background-color: variables.$primary-color;
			padding: 72px 16px 50px;
            display: none;

			.btn {
				max-width: 320px;
				width: 100%;
				margin: auto auto 0;
				@include variables.btn_secondary;

				&:hover {
					background-color: transparent;
					border-color: variables.$brand-light-color;
				}
			}
		}

        &__nav {
            overflow: auto;
        }

		&__nav-list {
			flex-direction: column;
		}

		&__nav-link {
			font-size: 14px;
			font-weight: 400;
			display: flex;

			svg {
				display: inline-block;
				width: 6px;
				height: 10px;
				margin-right: 10px;
				margin-top: 5px;
				transition: 0.3s;
			}

			&:hover {
				svg {
					margin-right: 16px;
				}
			}
		}
	}

	.container {
		padding: 0 16px;
		gap: 40px;
	}

	.first-screen {
		height: auto;
		min-height: 611px;
		padding-bottom: 50px;
	}

	.first-screen-form,
	.offers-images {
		display: none;
	}

	.modal__first-screen-form {
		display: flex;
		flex-direction: column;
		background-color: variables.$primary-color;
		border: 1px solid variables.$bg-accent-color;
		max-width: 550px;
		width: 100%;

		button {
			&:hover {
				cursor: pointer;
			}
		}
	}

	.first-screen__title {
		font-size: 28px;
		margin-bottom: 32px;
		letter-spacing: 0;
	}

	.about {
		padding: 50px 0;

			&__container {
			flex-direction: column-reverse;
			}

			&__media {
			max-width: 100%;
			}

			&__media {
			justify-content: center;

				&-item {
				width: 358px;
				height: 416px;
				}

				&-img {
				width: 100%;
				}
			}
		}

	.about__media-item {
		&:first-child {
			display: none;
		}

		&:last-child {
			margin: 0;
		}
	}

	.template-content {
		max-width: 100%;
		padding-top: 0;
		display: flex;
		flex-direction: column;

		.btn {
			margin: 0 auto;
			padding: 13px 24px;
		}
	}

	.template-top-title {
		font-size: 16px;
		line-height: 1.25;
		margin-bottom: 8px;
	}

	.template-title {
		font-size: 24px;
		margin-bottom: 24px;
	}

	.template-description {
		font-size: 16px;
		margin-bottom: 24px;
	}

	.offers {
		padding: 50px 0;
	}

	.offers__template-description {
		margin-bottom: 32px;
	}

	.offers-advanteges {
		gap: 32px;
		margin-bottom: 32px;
	}
}