@use 'variables' as variables;


.about {
    padding: 100px 0;
    background-color: variables.$bg-accent-color;
}

.about__container {
    display: flex;
    gap: 120px;
}

.about__media {
    max-width: 480px;
    width: 100%;
    display: flex;

    &-item {
        width: 350px;
        height: 400px;
        display: flex;
        align-items: stretch;
        position: relative;

        &:last-child {
            margin: 126px 0 0 -220px;
        }
    }

    &-img {
        border-radius: 24px;
    }
}

.template-content {
    max-width: 580px;
    padding-top: 63px;
    color: variables.$brand-dark-color;
}

.template-top-title {
    color: variables.$text-accent-color;
    font-weight: 400;
    font-size: 24px;
    line-height: 1;
    margin-bottom: 6px;
}

.template-title {
    color: variables.$brand-dark-color;
    margin-bottom: 38px;
}

.template-description {
    font-size: 18px;
    margin-bottom: 40px;
}