@use 'variables' as variables;

.first-screen {
   height: max(100vh, 985px);
   height: 100vh;
   max-height: 985px;
   padding-bottom: 82px;
   background: url(./assets/img/banner.png) center / cover no-repeat;
   display: flex;
   align-items: flex-end;

   &__title {
      margin-bottom: 41px;
      color: variables.$brand-light-color;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-family: variables.$font-secondary;
   }

   &-form {
      padding: 39px 42px;
      background-color: #ffffff33;
      backdrop-filter: blur(6px);
      border-radius: 10px;
      display: flex;
      align-items: start;
      gap: 24px;
   }

   .input-box:last-child {
      max-width: 213px;
   }
}