@use 'variables'as variables;

@font-face {
    font-family: 'Next-ART';
    src: url('./assets/fonts/Next-ART-Bold.otf') format('truetype');
    font-weight: 700; 
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito Sans';
    src: url('./assets/fonts/NunitoSans.ttf') format('truetype');
    font-weight: 100 900; 
    font-style: normal;
    font-display: swap;
}