@use "variables" as variables;

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
	-webkit-text-size-adjust: 100%; // iOS
}

body {
	min-height: 100vh;
	line-height: 1.5;
	text-rendering: optimizeSpeed;
	font-size: variables.$font-size-base;
	background: variables.$bg-color;
	color: variables.$brand-dark-color;
	font-family: variables.$font-primary;
	display: flex;
	flex-direction: column;
}

button {
	cursor: pointer;
}

a,
input,
button,
textarea,
select {
	font-family: variables.$font-primary;
}

input {
	background-color: transparent;
	border: 1px solid #e1e3e4;
	border-radius: 8px;
	padding: 13px 16px;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.5;
	color: variables.$brand-light-color;
	max-width: 270px;
	width: 100%;
	
	&::placeholder {
		color: variables.$brand-light-color;
	}
}

textarea {
	@extend input;
	min-height: 128px;
	max-height: 196px;
}

input::placeholder:not(.date-input) {
	font-weight: 300;
}

label {
	color: variables.$brand-light-color;
	
	svg {
		width: 18px;
		height: 18px;
	}
}

img,
picture,
video,
canvas,
svg {
	display: block;
	height: auto;
	max-width: 100%;
}

ul[class],
ol[class] {
	list-style: none;
}

a {
	color: variables.$text-accent-color;
	font-weight: 600;
	text-decoration: none;
	transition: 0.3s;
	
	&:hover {
		text-decoration: underline;
		color: variables.$primary-color;
	}
}

a:not([class]) {
	text-decoration-skip-ink: auto;
}

img:not([alt]),
img[alt=""] {
	filter: blur(10px);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 800;
	color: variables.$primary-color;
	margin-bottom: 1em;
}

h1 {
	font-size: variables.$h1-font-size;
	line-height: variables.$h1-line-height;
}

h2 {
	font-size: variables.$h2-font-size;
	line-height: variables.$h2-line-height;
}

h3 {
	font-size: variables.$h3-font-size;
	line-height: variables.$h3-line-height;
}

h4 {
	font-size: variables.$h4-font-size;
	line-height: variables.$h4-line-height;
}

h5 {
	font-size: variables.$h5-font-size;
	line-height: variables.$h5-line-height;
}

h6 {
	font-size: variables.$h6-font-size;
	line-height: variables.$h6-line-height;
}

p {
	margin-top: 0;
	margin-bottom: 1rem;
}

footer {
	margin-top: auto;
}

.container {
	width: 100%;
	max-width: 1204px;
	padding-left: 12px;
	padding-right: 12px;
	margin-left: auto;
	margin-right: auto;

	&.offers__container {
		display: flex;
		gap: 90px;
		align-items: center;
	}
}

.btn {
	border: 1px solid transparent;
	border-radius: 4px;
	font-weight: 600;
    line-height: 1;
	padding: 13px 24px;
	transition: 0.3s;
    display: inline-block;
	
	&:hover {
		text-decoration: none;
	}
	
	&.btn_primary {
		background-color: variables.$primary-color;
		color: variables.$brand-light-color;
		
		&:hover {
			border-color: variables.$primary-color;
			background-color: variables.$brand-light-color;
			color: variables.$primary-color;
		}
	}
    
	&.btn_lg {
        padding: 17px 34px;
		font-weight: 700;
    }
    
	&.btn_secondary {
        @include variables.btn_secondary;
    }
}

.btn-play {
	position: absolute;
	background: #ffffff00;
	inset: 0;
	border-radius: 24px;
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: background-color 0.3s;

	span {
	width: 50px;
	height: 50px;
	background: #fdfdfd99;
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	border-radius: 50%;
	color: variables.$primary-color;
	transition: background-color 0.3s;
	}
	
	svg {
		width: 22px;
		height: 22px;
	}

	&:hover {
		background: #ffffff22;

		span {
			background: #fdfdfd;
		}
		
		svg {
			color: variables.$text-accent-color;
		}
	}
}

.input-box {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;

    label {
        cursor: pointer;
        font-size: 14px;
		font-weight: 400;
        padding: 0 0 0 10px;

        &.label-icon {
            position: absolute;
            top: 17px;
            right: 15px;
            padding: 0;
        }
    }

    &:hover {
        .date-input {
            &::placeholder {
                color: variables.$text-accent-color;
            }

            +label {
                color: variables.$text-accent-color;
            }
        }
    }
}

.nice-select {
	background-color: transparent;
	border-radius: 8px;
	border: 1px solid variables.$brand-light-color;
	padding: 0 36px 0 16px;
	font-weight: 700;
	font-size: 16px;
	color: variables.$brand-light-color;
	height: 52px;
	line-height: 52px;
	width: 100%;
	max-width: 270px;
    
	&:after {
		border-bottom: 2px solid variables.$brand-light-color;
		border-right: 2px solid variables.$brand-light-color;
		height: 11px;
		width: 11px;
		margin-top: -8px;
		right: 19px;
	}

    .nice-select-dropdown {
		background-color: #1a3e3ea3;
	}

	.option:hover,
	.option.focus,
	.option.selected.focus {
		@include variables.background-blur;
	}
	
	&.open + label {
		opacity: 0;
	}
}

.overflow-hidden {
	overflow: hidden;
}

.close-modal {
	color: variables.$bg-accent-color;
}

.close-modal__svg {
	width: 39px;
	height: 39px;

}

.d-none,
.hidden-select {
	display: none;
}

::selection {
	background-color: variables.$primary-color;
	color: variables.$text-accent-color;
}