@use "variables";

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    -webkit-text-size-adjust: 100%; // iOS
}

body {
    min-height: 100vh;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    font-size: variables.$font-size-base;
    background: variables.$bg-color;
    color: variables.$brand-dark-color;
    font-family: variables.$font-primary;
    display: flex;
    flex-direction: column;
}

button {
    cursor: pointer;
}

input,
button,
textarea,
select {
    font-family: variables.$font-primary;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    height: auto;
    max-width: 100%;
}

input {
    background-color: transparent;
    border: 1px solid #e1e3e4;
    border-radius: 8px;
    padding: 16px 16px;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;

    &::placeholder {
        color: variables.$brand-light-color;
    }
}

label {
    color: variables.$brand-light-color;

    svg {
        height: 18px;
        width: 18px;
    }
}

ul[class],
ol[class] {
    list-style: none;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

a {
    color: variables.$text-accent-color;
    font-weight: 600;
    text-decoration: none;
    transition: 0.3s;

    &:hover {
        text-decoration: underline;
        color: variables.$primary-color;
    }
}

img:not([alt]),
img[alt=""] {
    filter: blur(10px);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 800;
    color: variables.$primary-color;
    margin-bottom: 1em;
}

h1 {
    font-size: variables.$h1-font-size;
    line-height: variables.$h1-line-height;
}

h2 {
    font-size: variables.$h2-font-size;
    line-height: variables.$h2-line-height;
}

h3 {
    font-size: variables.$h3-font-size;
    line-height: variables.$h3-line-height;

}

h4 {
    font-size: variables.$h4-font-size;
    line-height: variables.$h4-line-height;

}

h5 {
    font-size: variables.$h5-font-size;
    line-height: variables.$h5-line-height;
}

h6 {
    font-size: variables.$h6-font-size;
    line-height: variables.$h6-line-height;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}


footer {
    margin-top: auto;
}

.input-box {
    display: flex;
    flex-direction: column;
    position: relative;

    label {
        cursor: pointer;

            &.label-icon {
            position: absolute;
            top: 18px;
            right: 18px;
            }
        }

    &:hover {
        .date-input {
            &::placeholder {
                color: variables.$text-accent-color;
            }

            +label {
                color: variables.$text-accent-color;
            }
        }
    }
}

.nice-select {
    background-color: transparent;
    border: 1px solid #e1e3e4;
    border-radius: 8px;
    padding: 0 36px 0 16px;
    font-weight: 700;
    font-size: 16px;
    color: #fdfdfd;
    height: 58px;
    line-height: 58px;

    &:after {
        border-bottom: 2px solid #FDFDFD;
        border-right: 2px solid #FDFDFD;
        height: 11px;
        margin-top: -8px;
        width: 11px;
        right: 16px;
    }

    .nice-select-dropdown {
        @include variables.background-blur;
    }

    .option:hover,
    .option.focus,
    .option.selected.focus {
        @include variables.background-blur;
    }

    &.open+label {
        opacity: 0;
    }
}

.overflow-hidden {
    overflow: hidden;
}

.d-none {
    display: none;
}

::selection {
    background-color: variables.$primary-color;
    color: variables.$text-accent-color;
}
