@use 'variables' as variables;

.modal {
    position: fixed;
    inset: 0;
    opacity: 0;
    transition: opacity 0.5s, background-color 0.5s, backdrop-filter 0.5s;
    z-index: -10;
    background-color: #12121200;
    backdrop-filter: blur(0px);
    display: grid;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    overflow-x: hidden;

    &.show {
        @include variables.background-blur;
        opacity: 1;
        z-index: 20;
    }

    .nice-select,
    input,
    textarea {
        max-width: 100%;
    }

    &-body {
        max-width: 450px;
    }
}

.modal-template {

    &.show {
        background-color: #5cb7ff4d;
    }

    &__title,
    &__subtitle {
        color: variables.$primary-color;
    }

    .input-box {
        label {
            padding-top: 0;
            font-size: 16px;
        }

        input,
        textarea {
            color: variables.$brand-dark-color;
        }
    }
}



.template-form-wrapper {
    @include variables.background-blur;
    border: 1px solid #fff;
    border-radius: 12px;
    padding: 36px 36px 48px;
}

.template-form {
    display: grid;
    gap: 24px;
}



.close-modal {
    position: absolute;
    right: 5px;
    top: 5px;
    z-index: 10;
    border: none;
    background: transparent;
    transition: transform 0.3s;

    &:hover {
        transform: rotate(180deg);
    }
}


.bg-pink {
    background-color: pink;
}

.steps {
    width: 100%;
}

.steps__nav {
    display: none;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
}

.steps-nav_show {
    display: grid;
}

.steps__first-step,
.steps__second-step {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 24px;

}

.steps__first-step_hidden {
    display: none;
}

.steps__second-step_hidden {
    display: none;
}

.message {
    font-size: 12px;
    border-radius: 8px;
    font-weight: 600;
    transition: border-color 0.5s, line-height 1s, opacity 1s;
    width: 100%;
    line-height: 1.4;
    opacity: 1;
}

.message__hidden {
    border-color: transparent;
    border-width: 0;
    padding: 0;
    line-height: 0;
    opacity: 0;
}


.error-field {

    [data-required-field],
    .nice-select {
        transition: box-shadow 0.2s, background-color 1.5s, ;
        background-color: #ff000030;
        box-shadow: 0px 0px 8px 1px red;

    }

    .message {
        color: #f00;
    }
}

.valid-field {

    [data-required-field],
    .nice-select {
        transition: box-shadow 0.2s, background-color 1.5s, ;
        background-color: #1eff0030;
        box-shadow: 0px 0px 8px 1px #37ff00;
    }

    .message {
        color: #0f0;
    }
}


[data-required-field]~label:not(.label-icon) {
    position: relative;

    &::before {
        content: "*";
        position: absolute;
        left: 0;
        top: 0;
    }
}

input:-webkit-autofill {
    background-color: #1A3E3E;
    -webkit-box-shadow: 0 0 0px 1000px #1A3E3E inset;
    -webkit-text-fill-color: #fdfdfd;
    transition: background-color 0s ease-in-out;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    font-family: "Nunito Sans", sans-serif;
}

input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0px 1000px #1A3E3E inset;
    -webkit-text-fill-color: #fdfdfd;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    font-family: "Nunito Sans", sans-serif;
    background-color: #1A3E3E;
}