@use "variables" as variables;

.modal {
    position: fixed;
    z-index: -10;
    opacity: 0;
    inset: 0;
    transition: opacity 0.5s, background-color 0.5s, backdrop-filter 0.5s;
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: #12121200;
    backdrop-filter: blur(0px);
    overflow-y: auto;
    overflow-x: hidden;

    &.show {
        @include variables.background-blur;
        opacity: 1;
        z-index: 20;
    }
    
    .nice-select,
    input,
    textarea {
        max-width: 100%;
    }

    .nice-select-dropdown {
        background-color: variables.$primary-color;
    }

    &-body {
        max-width: 450px;
        position: relative;
    }
}

.modal-template {
    &.show {
        background-color: #5cb7ff4d;
    }

    .input-box {
        label {
            padding-top: 0;
            font-size: 16px;
        }

        input,
        textarea {
            color: variables.$brand-dark-color;
        }
    }
}

.template-form-wrapper {
    @include variables.background-blur;
    border: 1px solid variables.$bg-color;
    border-radius: 12px;
    padding: 36px 36px 48px;
}

.template-form {
    display: grid;
    gap: 24px;
}


.close-modal {
    position: absolute;
    right: -12px;
    top: 11px;
    z-index: 10;
    border: none;
    background-color: transparent;

    &:hover {
        color: variables.$text-accent-color;
    }
}

.steps {
    width: 100%;
}

.steps__nav {
    display: none;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
}

.steps__nav_show {
    display: grid;
}

.steps__first-step,
.steps__second-step {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 24px;
}

.steps__first-step_hidden {
    display: none;
}

.steps__second-step_hidden {
    display: none;
}


.message {
    border: 1px solid variables.$brand-light-color;
    border-radius: 2px;
    padding: 12px;
    color: #ff0000;
    font-weight: 600;
    width: 100%;
    line-height: 1.4;
    opacity: 1;
    transition: border-color 0.5s, line-height 1s, opacity 1s;
}

.message__hidden {
    border-color: transparent;
    border-width: 0;
    padding: 0;
    line-height: 0;
    opacity: 0;
}

.message__valid {
    color: #00ff00;
}
