@use "variables" as variables;

.testimonials {
    @include variables.section-padding;
    background-color: variables.$brand-light-color;
}

.testimonials__container {
    text-align: center;
}

.testimonials__template-content {
    margin: 0 auto 50px;
    padding-top: 0;
}

.testimonials__template-title {
    margin-bottom: 41px;
}

.testimonials-images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin-bottom: 59px;
    max-width: 1180px;
}

.testimonials-img {
    border-radius: 32px;
}

.testimonials-card {
    position: relative;
    width: 380px;
    height: 500px;
}

.testimonials-rating {
    position: absolute;
    top: 50px;
    right: 0;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 700;
    width: auto;
    min-width: 65px;
    height: 32px;
    color: variables.$primary-color;
    background-color: #fdfdfd66;
    backdrop-filter: blur(4px);
    border-radius: 4px 0 0 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.testimonials-icon-svg {
    width: 24px;
    height: 24px;
    color: variables.$icon-img-yellow;
}

.testimonials-description {
    @include variables.background-blur;
    border-radius: 0 0 32px 32px;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 90px;
    width: 380px;
}

.testimonials-card:first-child .testimonials-description {
    border: 1px solid black;
}


.testimonials-description__title {
    font-size: 24px;
    font-weight: 700;
    color: variables.$brand-light-color;
    margin-bottom: 0;
    text-align: left;
    margin-top: 20px;
    margin-left: 32px;
}

.testimonials-description__subtitle {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2;
    color: variables.$brand-light-color;
    text-align: left;
    margin-left: 32px;
    margin-bottom: 23px;
}

.testimonials-price {
    position: absolute;
    bottom: 25px;
    right: 32px;
    color: variables.$brand-light-color;
    background-color: #ffffff4d;;
    width: 86px;
    height: 40px;
    padding: 8px 16px;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 #00000040;
    font-size: 20px;
    font-weight: 700;
}
