///fonts///
$font-primary: "Nunito Sans", sans-serif; 
$font-secondary: 'NEXT-ART';
$font-size-base: 16px;

///colors///
$primary-color: #1a3e3e;
$bg-color: #f3f5f4;
$text-accent-color: #f2be22;
$bg-accent-color: #ffffff;
$brand-light-color: #fdfdfd;
$brand-dark-color: #18121e;


///font///
$h1-font-size: 50px;
$h2-font-size: 32px;
$h3-font-size: 26px;
$h4-font-size: 24px;
$h5-font-size: 20px;
$h6-font-size: 18px;

$h1-line-height: 150%;
$h2-line-height: 120%;
$h3-line-height: 120%;
$h4-line-height: 133%;
$h5-line-height: 120%;
$h6-line-height: 111%;

h1 {
    font-family: $font-secondary;
}