<section class="blog">
    <div class="container">
        <h3 class="template-top-title template-top-title_centered">делимся впечатлениями</h3>
        <h2 class="template-title template-title_centered">Блог о путешествиях</h2>
        <div class="swiper swiper-blog">
            <div class="blog-grid swiper-wrapper">
                <div class="blog-item swiper-slide">
                    <div class="blog-item__img-box">
                        <img src="./assets/img/blog-1.png" class="blog-item__img" alt="blog">
                    </div>
                    <div class="blog-item__content-box">
                        <h3 class="blog-item__title">
                            Красивая Италя, какая она в реальности?
                        </h3>
                        <h6 class="blog-item__description">Для современного мира базовый вектор развития предполагает
                            независимые способы реализации соответствующих условий активизации.</h6>
                        <div class="blog-item-row">
                            <div class="blog-item__date">01/04/2023</div>
                            <a href="#" class="blog-item__link">читать статью</a>
                        </div>
                    </div>
                </div>
                <div class="blog-item swiper-slide">
                    <div class="blog-item__img-box">
                        <img src="./assets/img/blog-2.png" class="blog-item__img" alt="blog">
                    </div>
                    <div class="blog-item__content-box">
                        <h3 class="blog-item__title">
                            Долой сомнения! Весь мир открыт для вас!
                        </h3>
                        <h6 class="blog-item__description">Для современного мира базовый вектор развития предполагает
                            независимые способы реализации соответствующих условий активизации ... независимые способы
                            реализации соответствующих усл...</h6>
                        <div class="blog-item-row">
                            <div class="blog-item__date">21/05/2023</div>
                            <a href="#" class="blog-item__link">читать статью</a>
                        </div>
                    </div>
                </div>
                <div class="blog-item swiper-slide">
                    <div class="blog-item__img-box">
                        <img src="./assets/img/blog-3.png" class="blog-item__img" alt="blog">
                    </div>
                    <div class="blog-item__content-box">
                        <h3 class="blog-item__title">
                            Как подготовиться к путешествию в одиночку?
                        </h3>
                        <h6 class="blog-item__description">Для современного мира базовый вектор развития предполагает.
                        </h6>
                        <div class="blog-item-row">
                            <div class="blog-item__date">11/02/2023</div>
                            <a href="#" class="blog-item__link">читать статью</a>
                        </div>
                    </div>
                </div>
                <div class="blog-item swiper-slide">
                    <div class="blog-item__img-box">
                        <img src="./assets/img/blog-4.png" class="blog-item__img" alt="blog">
                    </div>
                    <div class="blog-item__content-box">
                        <h3 class="blog-item__title">
                            Индия ... летим?
                        </h3>
                        <h6 class="blog-item__description">Для современного мира базовый.</h6>
                        <div class="blog-item-row">
                            <div class="blog-item__date">04/04/2023</div>
                            <a href="#" class="blog-item__link">читать статью</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-counter">
                <div class="swiper-button-prev swiper-blog-button-prev"></div>
                <div class="swiper-blog-counter__current"></div>
                <div class="swiper-blog-counter__total"></div>
                <div class="swiper-button-next swiper-blog-button-next"></div>
            </div>
        </div>
    </div>
</section>