<section class="first-screen">
    <div class="container">
        <h1 class="first-screen__title">Насладись прогулкой в горах с командой единомышленников</h1>
        <form class="first-screen-form">
            <div class="input-box">
                <select name="locations" id="locations-select" class="hidden-select">
                    <option value="kyiv">Київ</option>
                    <option value="lviv">Львів</option>
                    <option value="odesa">Одеса</option>
                    <option value="kharkiv">Харків</option>
                    <option value="dnipro">Дніпро</option>
                    <option value="kamianets">Кам’янець-Подільський</option>
                    <option value="chernivtsi">Чернівці</option>
                    <option value="carpathians">Карпати</option>
                    <option value="uzhhorod">Ужгород</option>
                    <option value="kherson">Херсонщина</option>
                </select>
                <label for="locations-select">выберите из списка</label>
            </div>
            <div class="input-box">
                <input id="date" class="date-input" type="text" placeholder="Дата похода">
                <label for="date" class="label-icon">
                    <svg>
                        <use href="#icon-date"></use>
                    </svg>
                </label>
                <label for="date">укажите дату похода</label>
            </div>
            <div class="input-box">
                <select name="members" id="members-select" class="hidden-select">
                    <option value="4">4 человека</option>
                    <option value="5">5 человек</option>
                    <option value="6">6 человек</option>
                    <option value="7">7 человек</option>
                    <option value="8">8 человек</option>
                    <option value="9">9 человек</option>
                    <option value="10">10 человек</option>
                    <option value="more">больше 10 человек</option>
                </select>
                <label for="members-select">минимум 4 человека</label>
            </div>
            <div class="input-box">
                <button type="submit" class="btn btn_secondary btn_lg">Найти программу</button>
            </div>
        </form>
        <button id="show-program" type="button" class="btn btn_secondary btn_lg">Найти программу</button>

    </div>
</section>