<section class="first-screen">
    <div class="container">
        <h1 class="first-screen__title">Насладись прогулкой в горах с командой единомышленников</h1>
        <form class="first-screen-form">
            <div class="input-box">
                <select name="locations" id="locations-select">
                    <option value="Киев">Киев</option>
                    <option value="Львов">Львов</option>
                    <option value="Одесса">Одесса</option>
                    <option value="Карпаты">Карпаты</option>
                    <option value="Каменец-Подольский">Каменец-Подольский</option>
                    <option value="Черновцы">Черновцы</option>
                    <option value="Харьков">Харьков</option>
                    <option value="Днепр">Днепр</option>
                    <option value="Ужгород">Ужгород</option>
                    <option value="Буковель">Буковель</option>
                </select>
                <label for="locations-select">выберите из списка</label>
            </div>
            <div class="input-box">
                <input id="date" class="date-input" type="text" placeholder="Дата похода">
                <label for="date" class="label-icon">
                    <svg>
                        <use href="#date-icon"></use>
                    </svg>
                </label>
                <label for="date">выберете дату</label>
            </div>
            <div class="input-box">
                <select name="members" id="members-select">
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="Более 10">более 10</option>
                </select>
                <label for="members-select">минимум 4 человека</label>
            </div>
            <div class="input-box">
                <button type="button" id="triger-request" class="btn btn_secondary btn_lg" data-triger-modal="request">Оставить заявку</button>
            </div>
        </form>
        <button type="button" class="btn btn_secondary btn_lg" data-triger-modal="show-program">Найти программу</button>
    </div>
</section>