<section class="first-screen">
    <div class="container">
        <h1 class="first-screen__title">Насладись прогулкой в горах с командой единомышленников</h1>
        <form class="first-screen-form">
            <div class="input-box">
                <select name="locations" id="location-select">
                    <option value="kyiv">Киев</option>
                    <option value="lviv">Львов</option>
                    <option value="odesa">Одеса</option>
                    <option value="dnepr">Днепр</option>
                    <option value="kharkov">Харьков</option>
                    <option value="kherson">Херсон</option>
                    <option value="sumi">Сумы</option>
                    <option value="carpatians">Карпаты</option>
                    <option value="uzhhorod">Ужгород</option>
                </select>
                <label for="location-select">выберите из списка</label>
            </div>
            <div class="input-box">
                <input type="text" placeholder="Дата похода" class="date-input" id="calendar">
                <label for="calendar" class="label-icon">
                    <svg>
                        <use href="#icon-date"></use>
                    </svg>
                </label>
                <label for="calendar">укажите диапазон</label>
            </div>
            <div class="input-box">
                <select name="members" id="member-select">
                    <option value="4">4 человека</option>
                    <option value="5">5 человек</option>
                    <option value="6">6 человек</option>
                    <option value="7">7 человек</option>
                    <option value="8">8 человек</option>
                    <option value="9">9 человек</option>
                    <option value="more">больше 10 человек</option>
                </select>
                <label for="member-select">минимум 4 человека</label>
            </div>
            <div class="input-box">
                <button type="button" class="btn btn_secondary btn_lg" data-triger-modal="request" id="triger-request">Оставить заявку</button>
            </div>
        </form>
        <button type="button" class="btn btn_secondary btn_lg" data-triger-modal="show-program">Найти программу</button>
    </div>
</section>