<header class="header">
    <div class="container">
        <a href="index.html" class="header__logo">
            <img src="./assets/img/logo.svg" alt="logo">
        </a>
        <button type="button" class="hamburger hamburger--squeeze" type="button">
            <span class="hamburger-box">
                <span class="hamburger-inner"></span>
            </span>
        </button>
        <div class="header__mobile-container">
            <nav class="header__nav">
                <ul class="header__nav-list">
                    <li class="header__nav-item"><a href="#" class="header__nav-link"> <svg>
                                <use href="#icon-arrow-right">
                            </svg>Главная</a></li>
                    <li class="header__nav-item"><a href="#" class="header__nav-link"> <svg>
                                <use href="#icon-arrow-right">
                            </svg>Про гида</a></li>
                    <li class="header__nav-item"><a href="#" class="header__nav-link"> <svg>
                                <use href="#icon-arrow-right">
                            </svg>Программа тура</a></li>
                    <li class="header__nav-item"><a href="#" class="header__nav-link"> <svg>
                                <use href="#icon-arrow-right">
                            </svg>Стоимость</a></li>
                    <li class="header__nav-item"><a href="#" class="header__nav-link"> <svg>
                                <use href="#icon-arrow-right">
                            </svg>Блог</a></li>
                    <li class="header__nav-item"><a href="#" class="header__nav-link"> <svg>
                                <use href="#icon-arrow-right">
                            </svg>Контакты</a></li>
                </ul>
            </nav>
            <button type="button" class="btn btn_primary" data-trigger-modal="consultation">Консультация</button>
        </div>
    </div>
</header>