<header class="header">
    <div class="container">
        <a href="index.html" class="header__logo">
            <img src="../assets/img/logo.svg" alt="logo">
        </a>
        <button>button</button>
        <div class="header__mobile-container show">
            <nav class="header__nav">
            <ul class="header__nav-list">
                <li class="header__nav-item"><a href="#" class="header__nav-link"> <svg><use href="#icon-arrow-right"></use></svg>Про гида</a></li>
                <li class="header__nav-item"><a href="#" class="header__nav-link"> <svg><use href="#icon-arrow-right"></use></svg>Программа тура</a></li>
                <li class="header__nav-item"><a href="#" class="header__nav-link"> <svg><use href="#icon-arrow-right"></use></svg>Стоимость</a></li>
                <li class="header__nav-item"><a href="#" class="header__nav-link"> <svg><use href="#icon-arrow-right"></use></svg>Блог</a></li>
                <li class="header__nav-item"><a href="#" class="header__nav-link"> <svg><use href="#icon-arrow-right"></use></svg>Контакты</a></li>
            </ul>
            </nav>
            <button type="button" class="btn btn_primary">Консультация</button>
        </div>
    </div>
</header>