<div class="modal" id="show-program">
    <div class="modal-body">
        <form class="first-screen-form modal__first-screen-form">
            <button type="button" class="close-modal" data-close-modal>
                <svg class="close-modal__svg">
                    <use href="#icon-close-modal"></use>
                </svg>
            </button>
            <div class="input-box">
                <select name="locations" id="modal-location-select" class="hidden-select">
                    <option value="kyiv">Киев</option>
                    <option value="lviv">Львов</option>
                    <option value="odesa">Одеса</option>
                    <option value="dnepr">Днепр</option>
                    <option value="kharkov">Харьков</option>
                    <option value="kherson">Херсон</option>
                    <option value="sumi">Сумы</option>
                    <option value="carpatians">Карпаты</option>
                    <option value="uzhhorod">Ужгород</option>
                </select>
                <label for="modal-location-select">выберите из списка</label>
            </div>
            <div class="input-box">
                <input type="text" placeholder="Дата похода" class="date-input" id="mobile-calendar">
                <label for="mobile-calendar" class="label-icon">
                    <svg>
                        <use href="#icon-date"></use>
                    </svg>
                </label>
                <label for="mobile-calendar">укажите диапазон</label>
            </div>
            <div class="input-box">
                <select name="members" id="modal-member-select" class="hidden-select">
                    <option value="4">4 человека</option>
                    <option value="5">5 человек</option>
                    <option value="6">6 человек</option>
                    <option value="7">7 человек</option>
                    <option value="8">8 человек</option>
                    <option value="9">9 человек</option>
                    <option value="more">больше 10 человек</option>
                </select>
                <label for="modal-member-select">минимум 4 человека</label>
            </div>
            <div class="input-box">
                <button type="submit" class="btn btn_secondary btn_lg">Найти программу</button>
            </div>
            <div class="input-box">
                <button type="button" data-close-modal class="btn btn_secondary btn_lg">Закрыть модальное окно</button>
            </div>
        </form>
    </div>
</div>

<div class="modal modal-template" id="request">
    <div class="modal-body">
        <div class="template-form-wrapper">
            <button type="button" class="close-modal" data-close-modal>
                <svg class="close-modal__svg">
                    <use href="#icon-close-modal"></use>
                </svg>
            </button>
            <h2 class="modal-template__title">Оставить заявку</h2>
            <h5 class="modal-template__subtitle">Заполните форму ниже и наш менеджер свяжется с вами в ближайшее время!</h5>
            <form class="template-form">
                <div class="input-box">
                    <label for="user-name">Имя</label>
                    <input type="text" inputmode="text" name="user-name" id="request-user-name" placeholder="Введите ваше имя">
                </div>
                <div class="input-box">
                    <label for="telephone">Телефон</label>
                    <input type="tel" inputmode="tel" name="telephone" id="request-telephone" placeholder="+380">
                </div>
                <div class="input-box">
                    <label for="e-mail">Почта</label>
                    <input type="email" inputmode="email" name="e-mail" id="request-e-mail" placeholder="Введите ваш почтовый адрес">
                </div>
                <div class="input-box">
                    <textarea name="letter" id="request-data" placeholder="Сопроводительное письмо"></textarea>
                </div>
                <div class="input-box">
                    <button type="submit" class="btn btn_secondary btn_lg">Отправить</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal modal-template" id="consultation">
    <div class="modal-body">
        <div class="template-form-wrapper">
            <button type="button" class="close-modal" data-close-modal>
                <svg class="close-modal__svg">
                    <use href="#icon-close-modal"></use>
                </svg>
            </button>
            <h2 class="modal-template__title">Нужна консультация?</h2>
            <h5 class="modal-template__subtitle">Наш менеджер свяжется с вами в ближайшее время!</h5>
            <form class="template-form">
                <div class="input-box">
                    <label for="user-name">Имя</label>
                    <input type="text" inputmode="text" name="user-name" id="user-name" placeholder="Введите ваше имя">
                </div>
                <div class="input-box">
                    <label for="telephone">Телефон</label>
                    <input type="tel" inputmode="tel" name="telephone" id="telephone" placeholder="+380">
                </div>
                <div class="input-box">
                    <label for="e-mail">Почта</label>
                    <input type="email" inputmode="email" name="e-mail" id="e-mail" placeholder="Введите ваш почтовый адрес">
                </div>
                <div class="input-box">
                    <textarea name="letter" id="letter" placeholder="Сопроводительное письмо"></textarea>
                </div>
                <div class="input-box">
                    <button type="submit" class="btn btn_secondary btn_lg">Отправить</button>
                </div>
            </form>
        </div>
    </div>
</div>