<section class="offers">
  <div class="container offers__container">
    <div class="template-content offers__template-content">
      <h3 class="template-top-title">о нашем походе</h3>
      <h2 class="template-title">Лучшие программы для тебя</h2>
      <p class="template-description offers__template-description">Его корни уходят в один фрагмент классической латыни
        45 года н.э., то есть
        более двух тысячелетий назад. Ричард МакКлинток, профессор латыни из колледжа.</p>
      <div class="offers-advantages">
        <div class="offers-advantages__item offers-advantages__item_green">
          <svg class="offers-advantages__item-svg">
            <use href="#experienced-guide"></use>
          </svg>
          <h6 class="offers-advantages__item-title">Опытный гид</h6>
          <p class="offers-advantages__item-description">Для современного мира базовый вектор развития
            предполагает независимые способы реализации соответствующих условий активизации.</p>
        </div>
        <div class="offers-advantages__item offers-advantages__item_blue">
          <svg class="offers-advantages__item-svg">
            <use href="#safe-trip"></use>
          </svg>
          <h6 class="offers-advantages__item-title">Безопасный поход</h6>
          <p class="offers-advantages__item-description">Для современного мира базовый вектор развития
            предполагает независимые способы реализации соответствующих условий активизации.</p>
        </div>
        <div class="offers-advantages__item offers-advantages__item_yellow">
          <svg class="offers-advantages__item-svg">
            <use href="#loyal-prices"></use>
          </svg>
          <h6 class="offers-advantages__item-title">Лояльные цены</h6>
          <p class="offers-advantages__item-description">Для современного мира базовый вектор развития
            предполагает независимые способы реализации соответствующих условий активизации.</p>
        </div>
      </div>
      <button type="button" class="btn btn_primary btn_lg">Стоимость программ</button>
    </div>
    <div class="offers-images">
      <img src="./assets/img/offers-images-1.png" class="offers-image" alt="offers-images">
      <img src="./assets/img/offers-images-2.png" class="offers-image" alt="offers-images">
      <img src="./assets/img/offers-images-3.png" class="offers-image" alt="offers-images">
      <img src="./assets/img/offers-images-4.png" class="offers-image" alt="offers-images">
    </div>
  </div>
</section>