<section class="testimonials">
    <div class="container testimonials__container">
        <div class="template-content testimonials__template-content">
            <h3 class="template-top-title testimonials__template-top-title">по версии отдыхающих</h3>
            <h2 class="template-title testimonials__template-title">Популярные направления</h2>
        </div>
        <div class="testimonials-images">
            <div class="testimonials-card">
                <img src="./assets/img/testimonials-img-1.png" class="testimonials-img" alt="testimonials-img">
                <div class="testimonials-rating">
                    <svg class="testimonials-icon-svg">
                        <use href="#testimonials-icon"></use>
                    </svg>
                    4.9
                </div>
                <div class="testimonials-description">
                    <h3 class="testimonials-description__title">Озеро возле гор</h3>
                    <p class="testimonials-description__subtitle">романтическое приключение</p>
                    <div class="testimonials-price">480 $</div>
                </div>
            </div>
            <div class="testimonials-card">
                <img src="./assets/img/testimonials-img-2.png" class="testimonials-img" alt="testimonials-img">
                <div class="testimonials-rating">
                    <svg class="testimonials-icon-svg">
                        <use href="#testimonials-icon"></use>
                    </svg>
                    4.5
                </div>
                <div class="testimonials-description">
                    <h3 class="testimonials-description__title">Ночь в горах</h3>
                    <p class="testimonials-description__subtitle">в компании друзей</p>
                    <div class="testimonials-price">500 $</div>
                </div>
            </div>
            <div class="testimonials-card">
                <img src="./assets/img/testimonials-img-3.png" class="testimonials-img" alt="testimonials-img">
                <div class="testimonials-rating">
                    <svg class="testimonials-icon-svg">
                        <use href="#testimonials-icon"></use>
                    </svg>
                    5.0
                </div>
                <div class="testimonials-description">
                    <h3 class="testimonials-description__title">Йога в горах</h3>
                    <p class="testimonials-description__subtitle">для тех, кто забоится о себе</p>
                    <div class="testimonials-price">230 $</div>
                </div>
            </div>
        </div>
        <button type="button" class="btn btn_primary btn_lg">Рейтинг направлений</button>
    </div>
</section>